<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <title>Document</title>
</head>
<body>
    <div id="container">
        <table>
            <thead>
                <tr>
                    <th>Author</th>
                    <th>Number of quotes</th>
                </tr>
            </thead>
            <% Object.keys(result).forEach(key => {%>
            <tr>
                <td> <%= key %></td>
                <td> <%= result[key] %></td>
            </tr>
        <% }) %></table>
    </div>
</body>
</html>